.user-Red {
    color: #e74c3c !important;
}
.user-Orange {
    color: #e67e22 !important;
}
.user-Purple {
    color: #9b59b6 !important;
}
.user-Green {
    color: #2ecc71 !important;
}
.user-Blue {
    color: #3498db !important;
}
.user-Gray {
    color: #7f8c8d !important;
}
.user-Cheater {
    color: #ad8b00 !important;
}

:not(pre) > code {
    background: #f1f5f9 !important;
    padding: 2px 6px !important;
    border-radius: 4px !important;
    border: 1px solid #e2e8f0 !important;
    font-size: 0.85em !important;
    color: #e11d48 !important;
}

:root {
    --shiki-light: initial;
    --shiki-dark: initial;
    --shiki-light-bg: initial;
    --shiki-dark-bg: initial;

    --shiki-light-font-weight: initial;
    --shiki-dark-font-weight: initial;
    --shiki-light-font-style: initial;
    --shiki-dark-font-style: initial;
    --shiki-light-text-decoration: initial;
    --shiki-dark-text-decoration: initial;
}

.shiki,
.shiki span {
    color: var(--shiki-light);
    /*background-color: var(--shiki-light-bg);*/
    font-style: var(--shiki-light-font-style);
    font-weight: var(--shiki-light-font-weight);
    text-decoration: var(--shiki-light-text-decoration);
}

/*
html.dark .shiki,
html.dark .shiki span {
	color: var(--shiki-dark);
	background-color: var(--shiki-dark-bg);
	font-style: var(--shiki-dark-font-style);
	font-weight: var(--shiki-dark-font-weight);
	text-decoration: var(--shiki-dark-text-decoration);
}
*/
