.user-Red { color: #e74c3c !important; }
.user-Orange { color: #e67e22 !important; }
.user-Purple { color: #9b59b6 !important; }
.user-Green { color: #2ecc71 !important; }
.user-Blue { color: #3498db !important; }
.user-Gray { color: #7f8c8d !important; }
.user-Cheater { color: #8e44ad !important; text-decoration: line-through; }
