name: Auto Deploy with OSS
permissions:
    contents: read

on:
    push:
        branches:
            - master
    workflow_dispatch:

jobs:
    deploy-frontend:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6.0.1

            - name: Setup Node
              uses: actions/setup-node@v6.1.0
              with:
                  node-version: 22

            - name: Install Dependencies
              run: npm install

            - name: Build Frontend
              run: |
                  npm run build -w @luogu-saver-next/frontend
              env:
                  VITE_API_URL: ${{ secrets.BACKEND_API_URL }}
                  VITE_CDN_URL: ${{ secrets.OSS_DOMAIN }}/luogu-saver/

            - name: Upload Assets to S3
              env:
                  AWS_ACCESS_KEY_ID: ${{ secrets.OSS_KEY_ID }}
                  AWS_SECRET_ACCESS_KEY: ${{ secrets.OSS_KEY_SECRET }}
                  AWS_DEFAULT_REGION: us-east-1
              run: |
                  aws s3 sync packages/frontend/dist s3://${{ secrets.OSS_BUCKET }}/luogu-saver/ \
                    --endpoint-url ${{ secrets.OSS_ENDPOINT }} \
                    --acl public-read \
                    --delete \
                    --exclude "index.html"

            - name: Deploy Frontend
              uses: appleboy/scp-action@master
              with:
                  host: ${{ secrets.SERVER_A_HOST }}
                  username: root
                  password: ${{ secrets.SERVER_A_PASSWORD }}
                  source: 'packages/frontend/dist/*'
                  target: '/opt/luogu-saver-frontend'
                  strip_components: 3

    deploy-backend:
        runs-on: ubuntu-latest
        needs: deploy-frontend
        steps:
            - uses: actions/checkout@v6.0.1
            - uses: actions/setup-node@v6.1.0
              with:
                  node-version: 22

            - name: Install & Build Backend
              run: |
                  npm install
                  npm run build -w @luogu-saver-next/backend

            - name: Deploy Backend
              uses: appleboy/scp-action@master
              with:
                  host: ${{ secrets.SERVER_B_HOST }}
                  username: root
                  password: ${{ secrets.SERVER_B_PASSWORD }}
                  source: 'packages/backend/dist,packages/backend/package.json'
                  target: '/opt/luogu-saver-backend'
                  strip_components: 2

            - name: Restart Backend Service
              uses: appleboy/ssh-action@master
              with:
                  host: ${{ secrets.SERVER_B_HOST }}
                  username: root
                  password: ${{ secrets.SERVER_B_PASSWORD }}
                  script: |
                      export NVM_DIR="$HOME/.nvm"
                      [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"

                      cd /opt/luogu-saver-backend

                      npm install --production

                      pm2 describe luogu-backend > /dev/null
                      if [ $? -eq 0 ]; then
                        pm2 reload luogu-backend
                        echo "✅ PM2 Reloaded"
                      else
                        # 确保指向 dist/index.js
                        pm2 start dist/index.js --name "luogu-backend"
                        pm2 save
                        echo "✅ PM2 Started"
                      fi
